.card {
    height: 100%;

    display: grid;
    grid-template: 100% / 100%;
    
    background-image:  linear-gradient(to bottom, #000000, #00000080), url('../assets/imgs/background.jpg');
    background-size: cover;
    background-position: center;

    color: var(--clr-white);

    overflow: hidden;
}

.card-title {
    font-weight: bold;
    font-size: var(--card-title-size);
}

.card-content {
    font-size: var(--card-content-size);
}

.content-container {
    display: grid;
    gap: 10px;
}

.card-title,
.card-footer {
    text-align: center;
    place-self: center;
}

.content-container {
    display: grid; /* keep layout type */

    opacity: 0;
    transform: translateY(100%);
    visibility: hidden;
    pointer-events: none;

    transition:
        opacity 0.6s ease,
        transform 0.6s ease,
        visibility 0s linear 0.6s;
}

.content-container.active {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
    pointer-events: auto;

    transition:
        opacity 0.6s ease,
        transform 0.6s ease,
        visibility 0s;
}