.card {
    position: relative;
    height: 100%;

    display: grid;
    grid-template: 100% / 100%;
    
    background-image:  linear-gradient(to bottom, #000000, #00000080), url('../assets/imgs/background.jpg');
    background-size: cover;
    background-position: center;

    color: var(--clr-white);

    overflow: hidden;
}

.card-title {
    font-weight: bold;
    font-size: var(--card-title-size);
}

.card-content {
    font-size: var(--card-content-size);
}

.content-container {
    display: grid;
    gap: 10px;
}

.card-title,
.card-footer {
    text-align: center;
    place-self: center;

}

.no-transition .content-container {
    transition: none;
}

.content-container {
    position: absolute;
    height: 100%;
    width: 100%;
    
    /*HIDDEN STYLE*/
    transform: translateY(100%);
    opacity: 0;

    transition: 
        transform 1s ease-in-out,
        opacity 1s ease-in-out;
}

.content-container.active {
    /*STARTING STYLE*/
    display: grid;
    transform: translateY(0);
    opacity: 1;
}