body {
    font-family: sans-serif, system-ui;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 5px;
    height: 100vh;

    width: 100%;
    background-image: url('../assets/imgs/background.jpg');
    background-size: cover;
    background-position: center;
}

header {
    background-color: var(--clr-bg);
    padding: 20px 30px;

    display: flex;
    gap: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    color: white;
    font-weight: bold;
}

nav {
    flex: 2;
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
}

.tab {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.social-media-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 20px;
}

.social-media-container svg {
    min-width: var(--icon-size);
    height: var(--icon-size);
}

.gallery,
.reviews {
    color: var(--clr-white);

    display: grid;
    grid-template-rows: 1fr min(90px, 20%);
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}

.picture,
.review {
    width: 80%;
    height: 60%;
    background-color: aliceblue;
    place-self: center;

    border-radius: 14px;
    border: 4px solid black;
}

.large-picture {
    grid-column: 1 / 3;
    width: 90%;
    height: 80%;
}

.reviews-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

.review {
    height: 60%;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: var(--title-size);
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 8px;
    background-color: var(--clr-bg);
    backdrop-filter: blur(8px);
}

svg{
    fill: white;
}

div#content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}

.card {
    place-self: center;
    
    width: min(600px, 80%);
    height: 90%;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
}

@media (max-width: 45em) {
    .nav-tabs {
        height: 100vh;
        position: fixed;
        background-color: rgba(70, 131, 180, 0.8);
        inset: 0 0 0 40%;

        flex-direction: column;
    }
}