body {
    font-family: sans-serif, system-ui;
    display: grid;
    grid-template-rows: min-content 1fr;
    height: 100vh;

    width: 100%;
    background: var(--grdnt-black);
    background-size: cover;
    background-position: center;
}

/* NAVBAR */

header {
    background-color: var(--clr-bg);
    padding: 20px 30px;

    display: flex;
    gap: 10px;
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;

    color: white;
    font-weight: bold;
}

nav {
    flex: 2;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;

    display: inline-block;
    position: relative;
    padding: 0.2rem 0;
}

.card-footer {
    font-size: 1.04rem;
}

.card-footer a::after,
.tab a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.1em;
    background-color: var(--clr-white);
    opacity: 1;
    transform: scale(0);
    transform-origin: center;

    transition: 
        opacity 300ms,
        transform 300ms;
}

.card-footer a:hover::after,
.card-footer a:focus::after,
.tab a:hover::after,
.tab a:focus::after{
    transform: scale(1);
}

.nav-tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
}

.tab {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
}

.social-media-container{
    display: flex;
    justify-content: space-around;
    align-items: center;

    gap: 20px;
}

.social-media-container svg {
    min-width: var(--icon-size);
    height: var(--icon-size);
}

svg{
    fill: white;
}

/* NAVBAR */

/* CONTENT */

.gallery,
.reviews {
    display: grid;
    grid-template-rows: 1fr;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    color: var(--clr-white);
    font-size: var(--title-size);
    font-weight: bold;
    padding: 0px 10px;
    border-radius: 8px;
    background-color: var(--clr-bg);
    backdrop-filter: blur(8px);
}

div#content{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}


.picture,
.review {
    transition: 
        transform 0.3s ease-in-out,
        border 0.3s ease-in-out;
}

.picture:hover,
.review:hover {
    transform: translateY(-2px);
}

.reviews-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
}

@media (max-width: 45em) {
    .nav-tabs {
        height: 100vh;
        position: fixed;
        background-color: rgba(70, 131, 180, 0.8);
        inset: 0 0 0 40%;

        flex-direction: column;
    }
}

/* CONTENT */