.review {
    width: 80%;
    height: 60%;

    background-color: aliceblue;
    place-self: center;

    border-radius: 14px;
    border: 2px solid var(--clr-transparent-white);
}

.picture:hover {
    border: 2px solid transparent;
}