:root {
    --grdnt-slick-carbon: linear-gradient(to top, #323232 0%, #3F3F3F 40%, #1C1C1C 150%);
    --grdnt-sunset:linear-gradient(to bottom, #27272c 0%, #be9a6b 100%);
    
    --clr-transparent: #00000080;
    --clr-carbon: #3f3f3f;
    --clr-yellowish-sunset: #be9a6b;
    --clr-bg: #17161b;
    --clr-transparent-white: #ffffff63;
    --clr-white: #ffffff;
    --clr-black: #000000;
    --clr-primary-gray: gray;

    --icon-size: 2rem;
    --sidebar-radius: 0.7fr;
    --title-size: 1.6rem;
    --card-title-size: 2.7rem;
    --card-content-size: 1.1rem;
}