/* Prevents grid children from growing if they have an img element inside */
*, *::before, *::after {
  min-width: 0;
  min-height: 0;
}

li {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
}